

.step-container{
    padding-bottom: 20px;
    width: 80%;
}

.step-row{
    width:auto;
    margin: 0px;
    padding-left: 100px;
}

.step-li-item{
    color: black;
    padding: 10px;
}

html{scroll-behavior:smooth}

