

.step-container{
    /* width:auto;
    margin: 0px;
    padding: 0px; */
    padding-bottom: 20px;
    width: 80%;
}

.step-row{
    width:auto;
    margin: 0px;
    padding-left: 100px;
}

li{
    color: white;
}



/* .container{
    padding: 0px;
    margin-left: 50px;
    margin-right: 50px;
} */