

.step-container{
    padding-bottom: 20px;
    width: 80%;
}

.step-row{
    width:auto;
    margin: 0px;
    padding-left: 100px;
}

.step-li-item{
    color: black;
    padding: 10px;
}

.step-img{
    border-radius: 1%;
}

html{
    scroll-behavior:smooth;
    font-family: 'Noto Sans', sans-serif;
}

nav{
    position: fixed;
    z-index: 5;
    transition: top 0.3s;
}

span.thicker {
    font-weight: 900;
  }

.large-text{
    font-size: 25px;
}
  header > h5 { display: inline-block; }
  